.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.item-div {
    display: block;
    height: 70%;
    align-items: center;
    justify-content: space-around;
}

.item-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 50px;
}

.sub-item-name {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
}

.sub-item-name p {
    font-size: 1rem;
}